<ul class="page-breadcrumb breadcrumb">
     <li>
          <i class="fa fa-home"></i>
          <a ui-sref="dashboard" >Home</a>
          <i class="fa fa-angle-right"></i>
     </li>
     <li><a href="javascript:void(0);">Add Event SubCategory</a></li>
</ul>
<div class="form" ng-init="addSubCategoryLoadData()">
     <!-- BEGIN EXAMPLE TABLE PORTLET-->
     <div class="portlet light portlet-fit portlet-form bordered" >
          <div class="portlet-title">
               <div class="caption">
                    Add Event SubCategory
               </div>
          </div>
          <div class="portlet-body"> 
               <div class="alert alert-danger show-error" ng-show="error"> <strong>Error! </strong>{{error_code}}</div>
               <form class="form-horizontal form-bordered"   method="post"  enctype="multipart/form-data" ng-submit="Add_EventsSubCategory()" >
                   <input type="hidden" ng-model="category.parent_id" name="parent_id" />
                    <div class="form-body">                                
                         <div class="form-group">
                              <label class="col-sm-3 control-label">Category</label>
                              <div class="col-sm-4">
                                  <input type="text" name="parent" class="form-control" ng-model="category.parent" disabled=""  >
                              </div>
                         </div>
                         <div class="form-group" ng-if="category.title" >
                              <label class="col-sm-3 control-label">Subcategory</label>
                              <div class="col-sm-4">
                                  <input type="text" name="title" class="form-control" ng-model="category.title" disabled=""  >
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-3 control-label">Subcategory</label>
                              <div class="col-sm-4">
                                   <input type="text" name="name" class="form-control" ng-model="category.name"  value="{{category.name}}" required>
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-3 control-label">Description</label>
                              <div class="col-sm-4">
                                   <input type="text" name="description" class="form-control" ng-model="category.description"  value="{{category.description}}">
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-3 control-label">Category Image</label>
                              <div class="col-sm-4">
                                   <input type="file" file-model="category.photo" ngf-select="onFileSelect($file)" ngf-pattern="'image/*'" >
                                   <div class="error profile_error"></div>
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-3 control-label">Status</label>
                              <div class="col-sm-4">
                                   <div class="radio-list">
                                        <label class="radio-inline"><input type="radio" name="status" ng-model="category.status" value="1" > Active </input> </label> 
                                        <label class="radio-inline"><input type="radio" name="status"  ng-model="category.status" value="0" > Inactive</input> </label>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="form-actions">
                         <div class="row">
                              <div class="col-md-offset-3 col-md-9">
                                   <button type="submit" class="btn green" id="add-new-btn" >Submit</button>
                                   <a class="btn default" ui-sref="eventsubcategories({id: {{id}}})" >Cancel</a>
                              </div>
                         </div>
                    </div>
               </form>
          </div>
     </div>
</div>